<h2>Danh sách nhà cung cấp</h2>
<a href="/suppliers/new">+ Thêm mới</a>

<ul>
  <% if (suppliers.length === 0) { %>
    <li>Chưa có nhà cung cấp nào.</li>
  <% } else { %>
    <% suppliers.forEach(supplier => { %>
      <li><%= supplier.name %> - <%= supplier.address %> - <%= supplier.phone %></li>
    <% }) %>
  <% } %>
</ul>
