<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <title>Supplier & Product App</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <%- include('partials/header') %>
  <main class="container">
    <% if (success.length) { %>
      <div class="alert success"><%= success %></div>
    <% } %>
    <% if (error.length) { %>
      <div class="alert error"><%= error %></div>
    <% } %>
    <%- body %>
  </main>
</body>
</html>
